body {
  margin: 1;
  padding: 1;
  background: #F3F5F6;
  color: #2E2E2C;
  font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
